/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.teste{
  background-color: green;
  height: 100px;
  width: 100px;
  color: white;
}

.a{
  background-color: blue;
  height: 100px;
  width: 100px;
  color: white;
}

.b{
  background-color: red;
  height: 100px;
  width: 100px;
  color: white;
}
